@media screen and (min-width: 480px) {
  /********************************************
  TWO COLUMN LAYOUT
  ********************************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /********************************************
  3 * 5 = 15%; 85% / 3 = 28.3333%
  ********************************************/

  /********************************************
  PORTFOLIO PAGE
  ********************************************/

  #gallery li {
    width: 28.3333%
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }

  /********************************************
  PAGE: ABOUT
  ********************************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;


}

@media screen and (min-width: 710px) {

  /********************************************
  HEADER
  ********************************************/

  nav {
      background: none;
      float: right;
      font-size: 1.25em;
      margin-right: 5%;
      text-align: right;
      width: 45%;
    }

  #logo {
      float: left;
      margin-left: 5%;
      text-align: left;
      width: 45%;
    }

    h1 {
      font-size:  2em;
    }

    h2 {
      font-size: 0.825em;
      margin-bottom: 20px;
    }

    header {
      border-bottom: 5px solid #2D3142;
      margin-bottom: 60px;
    }


}
